*                      @indra-gh-org/plataforma
/src/api/              @indra-gh-org/backend
/infra/                @indra-gh-org/devops @indra-gh-org/seguridad
/.github/workflows/    @indra-gh-org/devops
